.entete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FF8E4E;
  padding: 10px;

  .profil {
    display: flex;
    align-items: center;
    gap: 20px;
    .profil__nom {
      font-family: 'Poppins', Arial, sans-serif;
      font-weight: 600;
      font-size: 35px;
      text-transform: uppercase;
    }
    .profil__img {
      width: 70px;
      height: auto;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }

  .navigation-entete {

    .navigation__liste {
      padding: 0;
      display: flex;
      gap: 10px;
      list-style: none;

      .navigation__item {
        width: fit-content;
        .navigation__lien {
          text-decoration: none;
          background-color: #DF5235;
          color: white;
          font-family: 'Poppins';
          font-size: 20px;
          font-weight: 500;
          padding: 5px 10px;
          border-radius: $bordure-arrondis;
        }
      }
    }

  }
}
