body  {
  color: white;
  background-color: $background;
  background-repeat: no-repeat;
  background-size: cover;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $noir;
  scroll-behavior: smooth;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #0B1011FF;
}